* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.nc-news{
  text-align: center;
}

.error{
  text-align: center;
}

img{
  width: 250px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

.article-card{
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.article-card button{
  margin-right: 2px
}

.article-card button:hover{
  cursor: pointer;
  background: black;
}