* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.nc-news{
  text-align: center;
}

.error{
  text-align: center;
  font-size: 25px;
}

.loading{
  text-align: center;
  font-size: 25px;
}

.image-card{
  width: 250px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.article-card{
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.like-button{
  margin: 2px;
}

.like-button:hover{
  cursor: pointer;
  background: green;
}

#like-button-on{
  background: green;
}

.dislikelike-button{
  margin: 2px;
}

.dislike-button:hover{
  cursor: pointer;
  background: red;
}

#dislike-button-on{
  background: red;
}

.single-article img{
  border: 1px solid black;
  border-radius: 10px;
}

.votes-section{
  margin-top: 50px;
}

.comments-section{
  margin-top: 50px;
}

.add-comments-section{
  margin-bottom: 50px;
}

.submit-comment-button:hover{
  cursor: pointer;
  color: white;
  background: black;
}

.comment-list{
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

#new-comment {
  width: 600px;
  height: 100px;
}

.topics{
  text-align: center;
  margin: 10px;
}

.nav-button{
  margin: 10px
}

.nav-button:hover{
  cursor: pointer;
  color: white;
  background: black;
}

